*~
*.py[co]

# Build-related files
.stamp-dist
.stamp-tzinfo
.stamp-zoneinfo
# For whatever reason, build/ is versioned, so the * is necessary.
build/*
tz/version

# Generated datafile for test_zdump.py
zdump.out
